<a href="https://colab.research.google.com/github/Xnsam/machine_learning_prax/blob/master/python_improv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sunday 1 Dec

**Q1** Create a function to search a number in list using binary search

**Q2** Create a time measuring function and apply it as a decorator on the given above function

**Q3** Create a dictionary called 'inventory' containing minimum 10 fruit names as keys and randomly assigned integer value in the range 0 - 50 as its corresponding value.

Manager takes the order from the customer. Prompt the manager to order specific fruit when not met the requirement qty. Take input from manager and update the number of fruits assuming it is arrived in real time from x - sales person in the inventory.

create a dictionary called fruit price, when fruit basket is prepared, calculate the mapped price (put price as any random 2 digit float value for fruit per kg)

print the final bill of the fruit basket in the format



```
------------------------------
Fruit | Price | QTY | Total
------------------------------
.
.
.
------------------------------
Grand Total          |      | 
------------------------------
```

**Q4** Implement Zero division Error with try catch and else part

**Q5** Print the following pyramid

```
 *

 ***

 *****

 *******

*********
```

# Monday 2 Dec

**Q1** With example demonstrate the following
- Monkey patching in python
- Dynamic module loading, any two pros and cons
- Frozen set
- Unpacking a list and tuple

**Q2** Write code to implement sub palindrome in python.

Example : Banana -> ana, nan, anana

**Q3** Give an example and demonstrate the use of kwargs and args as function parameters.

**Q4** Given a list A containing 10 elements, which one of the following would you choose and why?

```
1. len(A)

2. A.__len__()

```

**Q5** Demonstrate the use of static methods in a python class with an example

# Tuesday 3 Dec

**Q1** Explain MRO in python with example

**Q2** Explain the use of literal eval and eval in python

**Q3** Write a python function that generates batch of size b each given two lists simultaneously. List length should be n.

**Q4** Explain python call by assignment with a python function

**Q5** Write a function for matrix multiplocation of two matrices

# Wednesday 04 Dec

**Q1** Wrtie a python function to output determinant of a given matrix

**Q2** Write a python function for each of the following

- Given a link (in this case https://www.gutenberg.org/files/11/11.txt) download the file and write it in a text file, Text file name should be passed as a parameter to the function. Should return the text file name

- Given a file name, read the text file line by line or entirely at once and append it to the list. The mode of reading (line by line or entirely) should be a parameter given to the function. Should return the list.

- Given a list find the following
  1. Count of words
  2. Frequency distribution of words
  3. Most occuring words top 5
  4. Least occuring words last 5

- Given list of sentences create bigrams out of it and return a list of bigrams

**Q3** Write a python function to implement factorial of a number

**Q4** Demonstrate the use of magic functions / dunder functions in python

**Q5** Give an example of python ternary operator

# Thursday 5 Dec

**Q1** Given a number / another set write a function to do the following on the set

- Add to the set
- Delete from the set if exists
- return the intersection of the sets
- return the union of the sets
- return the symmetric intersection of the set

**Q2** Write a function that given a dictionary sorts it, ascending or descending based on the user preference, user preference is passed as a parameter to the function

**Q3** Given input 

```
[
  {'item_4': 278, 'item_3': 325, 'item_2': 935}, 
  {'item_4': 862, 'item_3': 251, 'item_2': 387}, 
  {'item_4': 148, 'item_3': 76, 'item_2': 640}
]
```



Create a function and do the following

- Sum all the similar keys into one dictionary
- Find the max key value pair
- Find the min key value pair

**Q4** Write code to print the following

```
4 3 2 1
3 2 1
2 1
1
```

**Q5** Write a function to do the following using numpy package in python

- Multiplication of two matrices
- Addition and Subtraction of two matrices
- Dot product of the matrices
- Demonstrate array broadcasting in numpy

**Q6** Write function to do the following using matplotlib package in python

- plot a scatter plot
- plot multiple line plot
- plot 3d scatter plot
- plot multiple bar plot
- plot violin plot

**Q7** Write a function do  the following using pandas package in python

- plot a bar plot
- demo use of aggregation
- demo use of group by and then iteration over the groupbyed dataframe
- demo use of apply function on a pandas series
- demo use of type conversion in pandas series

# Friday 6 Dec

**Q1** Write a Python function that given dogs year in human years convert it to calculate a dog years

**Q2** Write a python function that given any text extracts the following string pattern from it.

- Email id
- Alpha Numeric
- This pattern 'A5648TYU7'
- Separates Alphanumbers e.g. 'ABC123' -> ['ABC', '123']
- Separates Alphabets and characters e.g. 'Alpha+' -> ['Alpha', '+']

**Q3** Write a function to implement in Singular Value Decomposition in python using numpy package

**Q4** Write a function to do the following in pandas



```
def make_dict():
  """Run this function to generate the dictionaries."""
  import random

  tmp1 = { 'id': [] , 'Student': []}
  tmp2 = {'id': [], 'Scores': []}

  for id_ in range(1, 10):
    # change the upper limit to 5000
    tmp1['id'].append(id_)
    tmp2['id'].append(id_)
    
    tmp1['Student'].append('Student_{}'.format(id_))
    tmp2['Scores'].append(round(random.random() *100, 2))

  
  return tmp1, tmp2


print(make_dict())
```



- Create Two Dataframe from dictionary created from the given function
- Merge two data frame into single dataframe
- plot the distribution of marks for first 100 students
- Create a column 'Grade' and assign the values in the row as per the conditions
        ```
        F if Scores <= 25
        E if Scores <= 35
        D if Scores <= 45
        C if Scores <= 55
        B if Scores <= 65
        A if Scores <= 75
        O if Scores <= 100
        ```
- Plot a chart for the number of students as per grade

**Q5** Demonstrate the use of list append vs extend

**Q6** Write a python function to implement the following

- LIFO queue
- FIFO queue

**Q7** Write a NumPy program to compute the histogram of nums against the bins.

# Saturday 7 Dec

**Q1**  Write a NumPy program to test element-wise of a given array for finiteness (not infinity or not Not a Number), positive or negative infinity, for NaN, for NaT (not a time), for negative infinity, for positive infinity.

```
Sample output:
Test element-wise for finiteness (not infinity or not Not a Number):
True
True
False
Test element-wise for positive or negative infinity:
True
False
True
Test element-wise for NaN:
[ True False False]
Test element-wise for NaT (not a time):
[ True False]
Test element-wise for negative infinity:
[1 0 0]
Test element-wise for positive infinity:
[0 0 1]
```

**Q2** Write a python function to output correlation matrix from a dataframe

**Q3** Write a python function to count the number of triangles from the given icosahedron. You can you opencv package here.

<img src="https://www.pngtube.com/myfile/full/382-3825690_everything-is-possible-geometric-shapes-icosahedron.png" height="300" ></img>

**Q4** Write a python numpy program to do elementwise add, subtract, multiply and divide

**Q5** Write a python function to calculate the sigmoid function values from the given array

**Q6** Write a python function to find the roots of the given polynomial

- x2 − 4x + 7
- x4 − 11x3 + 9x2 + 11x – 10

**Q7** Given two arrays write a function to calculate the following using numpy

- Cross Product
- Inner Product
- Dot Product

# <strong><h2 align="center">7 Day Crash Course Completed</h2></strong>

<img src="https://t4.ftcdn.net/jpg/01/30/10/31/240_F_130103117_Zrlre6bkCBlHq2cYCRWQniGsjTpPRrDr.jpg"> </img> <img src="https://i.pinimg.com/736x/12/ba/2a/12ba2abb8f366ddb2d3a8688b691e694--minions-love-minions-despicable-me.jpg" width="500"> </img> <img src="https://t4.ftcdn.net/jpg/01/30/10/31/240_F_130103117_Zrlre6bkCBlHq2cYCRWQniGsjTpPRrDr.jpg"> </img>